.vs/
.net7.0/
.bin/
/LMS/bin/Debug/net7.0/LMS.dll
/LMS/bin/Debug/net7.0
/LMS/obj
/LMSControllerTests
/LMSControllerTests/bin/Debug/net7.0/CoverletSourceRootsMapping
/LMSControllerTests/obj/Debug/net7.0/LMSControllerTests.assets.cache
/LMSControllerTests/obj/Debug/net7.0/LMSControllerTests.GeneratedMSBuildEditorConfig.editorconfig
/LMSControllerTests/obj/Debug/net7.0/LMSControllerTests.csproj.AssemblyReference.cache
/LMSControllerTests/obj/LMSControllerTests.csproj.nuget.dgspec.json
/LMSControllerTests/obj/LMSControllerTests.csproj.nuget.g.props
/LMSControllerTests/obj/project.assets.json
/LMSControllerTests/obj/project.nuget.cache
/LMSControllerTests/bin/Debug/net7.0/CoverletSourceRootsMapping
/LMSControllerTests/obj/Debug/net7.0/LMSControllerTests.assets.cache
/LMSControllerTests/obj/Debug/net7.0/LMSControllerTests.csproj.AssemblyReference.cache
/LMSControllerTests/obj/Debug/net7.0/LMSControllerTests.GeneratedMSBuildEditorConfig.editorconfig
/LMSControllerTests/obj/LMSControllerTests.csproj.nuget.dgspec.json
/LMSControllerTests/obj/LMSControllerTests.csproj.nuget.g.props
/LMSControllerTests/obj/project.assets.json
/LMSControllerTests/obj/project.nuget.cache
